matplotlib==3.8.2
networkx==3.2.1
numpy==1.26.2
pandas==1.4.0
poisson-binomial==0.0.1 # in the file __init__.py line 54, change `fft` to `fft.fft`.
scikit-learn==1.3.2
scipy==1.11.4
tqdm==4.66.1
mpmath==1.3.0